body{
    width:100%;
    height: 100%;
    background-color: midnightblue;
}

#div1{
    color: white;
    font-style: normal;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 80px;
    right: 500px;  
    margin: 0px;
    padding: 0px;
}

#div2{
    color: white;
    font-style: normal;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 100px;
    right: 550px;
    margin: 30px;
    padding: 0px;
}

#div3{
    color: transparent;
    border-bottom-left-radius: 10%;
   border-top-left-radius: 10%;
   border-bottom-right-radius: 10%;
   border-top-right-radius: 10%;
}
#info{
    position: absolute;
    top: 170px;
    right: 550px;
    margin: 30px;
    padding: 0px;
   
}