body{
    width:100%;
    height: 100%;
    background-color: midnightblue;
}

#div1{
    color: white;
    font-style: normal;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 80px;
    right: 500px;  
    margin: 0px;
    padding: 0px;
}

#div2{
    color: white;
    font-style: normal;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 100px;
    right: 550px;
    margin: 30px;
    padding: 0px;
}

#div3{
    
    position: absolute;
    top: 180px;
    right: 550px;
    margin: 0px;
    border: 0px;
    padding: 1px;
    background-color: midnightblue;
}
    
#info{
    border-radius: 25px;
    border: 2px solid white;
    width: 200px;
    height: 15px;
    background-color: transparent;
}

#div4{
    position: absolute;
    top: 230px;
    right: 550px;
    margin: 0px;
    border: 0px;
    padding: 1px;
    background-color: midnightblue;
}

#info2{
    border-radius: 25px;
    border: 2px solid white;
    width: 200px;
    height: 15px;
    background-color: transparent;
}

#div5{
    display: flex;
    justify-items: center;
    justify-content: center;
    float: center;
    bottom: 250px;
    right: 550px;
    margin: 0px;
    border: 0px;
    padding: 1px;
    background-color: midnightblue;
}

#info3{
    background-color: white;
}